services:
  db:
    image: mariadb:latest
    container_name: db
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=somewordpress
      - MYSQL_DATABASE=wordpress
      - MYSQL_USER=wordpress
      - MYSQL_PASSWORD=wordpress
    networks:
      - backend-net
  wordpress:
    image: wordpress:latest
    container_name: wordpress
    volumes:
      - wp_data:/var/www/html
    restart: always
    environment:
      - WORDPRESS_DB_HOST=db
      - WORDPRESS_DB_USER=wordpress
      - WORDPRESS_DB_PASSWORD=wordpress
      - WORDPRESS_DB_NAME=wordpress
    networks:
      - backend-net
      - frontend-net
  http-echo:
    image: hashicorp/http-echo:latest
    container_name: http-echo
    restart: always
    command: ["-text=Bienvenido"]
    networks:
      - frontend-net
  nginx:
    image: nginx:latest
    restart: always
    ports:
      - 80:80
      - 7878:7878
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - wordpress
      - db
    networks:
      - frontend-net
volumes:
  db_data:
    name: db_data
  wp_data:
    name: wp_data
networks:
  backend-net:
    name: backend-net
  frontend-net:
    name: frontend-net